body{
    background: url("/images/RG02211.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.container-custom
{
    opacity: 0.9;
    width: 100%;
}

.comment-custom
{
    padding: 1%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: #FFFEFE;
}