.navbar-custom
{
    background-color: #145ab5;
    height: 140px;
}

.navbar-custom-secondary {
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #4285F4;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -48px;
}

/*
.navbar-custom-secondary ul li:hover {
    background-color: #3097d1;
    border-radius: 5px;
}

.navbar-custom-secondary ul li a:hover {
    color: #FFFFFF !important;
}
*/

/*
class="{{ Request::path() == 'internships/create' ? 'active' : '' }}"
*/
